@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-brand: #f8b134;
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-primary: hsl(0, 0, 95%);
  --color-secondary: hsl(0, 0, 60%);
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heavy";
  src: url("/fonts/heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
.md-container h1,
.md-container h2 {
  font-family: "Heavy", sans-serif;
}

h3,
h4,
h5,
h6,
.md-container h3,
.md-container h4,
.md-container h5,
.md-container h6 {
  font-family: "Century", sans-serif;
}

.md-container {
  @apply prose prose-invert mx-auto pt-24 pb-2 px-4 md:px-0;
}

.md-container h1, h2 { @apply !text-brand uppercase text-center font-bold !mt-4 leading-[130%]; }
.md-container h2 { @apply text-6xl;}
